if SHIELD_EYELASH_SOFLE_CENTRAL_DONGLE || SHIELD_EYELASH_SOFLE_CENTRAL_LEFT

config ZMK_KEYBOARD_NAME
    default "Eyelash Sofle"

config USB_DEVICE_MANUFACTURER
    default "Eyelash Sofle"

config ZMK_SPLIT_ROLE_CENTRAL
    default n

endif


if SHIELD_EYELASH_SOFLE_CENTRAL_DONGLE || SHIELD_EYELASH_SOFLE_PERIPHERAL_LEFT || SHIELD_EYELASH_SOFLE_PERIPHERAL_RIGHT || SHIELD_EYELASH_SOFLE_CENTRAL_LEFT

config ZMK_SPLIT
    default y

# Display work queue and LVGL settings are provided by the nice_view shield.

if ZMK_BACKLIGHT

config PWM
    default y

config LED_PWM
    default y

endif # ZMK_BACKLIGHT

endif
